*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;

}
body{
    background-image: url("../img/Fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.header{
    display: flex;
    justify-content: center;

    align-items: center;
}
.head{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    height: 60px;
    backdrop-filter: blur(60px);
    background-color: rgb(0, 128, 255,0.3);
    position: relative;
    width: 100%;
    z-index: 100;
    padding: 20px;
    margin: auto;
    margin-top: 0px;
}
.navbar{
    display: flex;
    margin-top: auto;
}
.navbar a{
    display: block;
    padding:  23px 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
}
main{
width: 100%;
padding: 20px;
margin: auto;
margin-top: 100px;

}
.contenedor__todo{
width: 100%;
max-width: 700px;
margin: auto;
position: relative;
}
.caja__trasera{
    max-width: auto;
    padding: 10px 20px;
    justify-content: center;
    backdrop-filter: blur(60px);
    background-color: rgb(0, 128, 255,0.3);
}
.caja__trasera div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
    
}
.caja__trasera div p{
    margin-top: 26px;
}
.caja__trasera div h1{
    font-weight: 400;
    font-size: 20px;
}
